{%extends 'admin_base.html' %}
{%block content%}

        <form method="post">{% csrf_token %}
            <div class="container">  
                <br>  
                <div class="form-group row">  
                <label class="col-sm-1 col-form-label"></label>  
                <div class="col-sm-4">  
                <h3>Update Details</h3>  
                </div>  
                </div>  
                <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Date:</label>  
                <div class="col-sm-4">  
                    {{ form.on_date }}                </div>  
                </div>  
                <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Time:</label>  
                <div class="col-sm-4">  
                    {{ form.free_time }}                </div>  
                </div>  
                <div class="form-group row">  
                <label class="col-sm-1 col-form-label"></label>  
                <div class="col-sm-4">  
                <button type="submit" class="btn btn-success">Update</button>  
                </div>  
                </div>  
                </div>  

        </form>


{% endblock %}