{%extends 'admin_base.html' %}
{%block content%}
    <h5 style="font-family: Arial, Helvetica, sans-serif;">Please check the uploaded files once again before clicking on Generate Teacher Allocation List</h5>
    <div><a href="/adminland/uploadedlist">
      <button class="btn btn-primary">
      Check Uplaoded Excel Files</button>
    </a></div>
    <div><label for=""></label></div>
    <div><a href="/adminland/teachalloc">
    <button class="btn btn-primary">Generate Teacher Allocation List</button>
    </a></div>
    <div><label for=""></label></div>
    <div><h5 style="font-family: Arial, Helvetica, sans-serif;">{{success}}</h5></div>
    
    <div><a href="/media/excel/teacher_alloc.csv">
    
      <button class="btn btn-primary">Download Teacher Allocation List</button>
    </a></div>
    
{%endblock content%}